/* Gtranslate Desktop White */
/* @media(min-width: 921px) {
	.ast-theme-transparent-header .glink {
	color: white;
	font-size: .85em !important;
	font-weight: 400 !important;
	border: 1px solid white !important;
	border-radius: 50%;
	width: 40px !important;
	height: 40px !important;
	display: inline-flex; 
	align-items: center;
	justify-content: center;
	text-align: center;
}

.ast-theme-transparent-header .glink:hover {
	color: white;
	background-color: #FFFFFF30;
	backdrop-filter: blur(4px);
	border: 1px solid #FFFFFF35 !important;
}

.ast-theme-transparent-header .gt-current-lang {
	background-color: #FFFFFF30;
	backdrop-filter: blur(4px);
	border: 1px solid #FFFFFF35 !important;
}
} */


/* Gtranslate Desktop Black */
/* @media(min-width: 921px) {
	.glink {
	color: black;
	font-size: .85em !important;
	font-weight: 400 !important;
	border: 1px solid black !important;
	border-radius: 50%;
	width: 40px !important;
	height: 40px !important;
	display: inline-flex; 
	align-items: center;
	justify-content: center;
	text-align: center;
}

.glink:hover {
	color: black;
	background-color: #11111130;
	backdrop-filter: blur(4px);
	border: 1px solid #11111135 !important;
}

.gt-current-lang {
	background-color: #11111130;
	backdrop-filter: blur(4px);
	border: 1px solid #11111135 !important;
}
} */

/* Gtranslate Flyout Black */
/* @media(max-width: 921px) {
	.glink {
	color: black;
	font-size: .85em !important;
	font-weight: 400 !important;
	border: 1px solid black !important;
	border-radius: 50%;
	width: 32px !important;
	height: 32px !important;
	display: inline-flex; 
	align-items: center;
	justify-content: center;
	text-align: center;
}

.glink:hover {
	color: black;
	background-color: #11111120;
	backdrop-filter: blur(4px);
	border: 1px solid #11111125 !important;
}

.gt-current-lang {
	background-color: #11111120;
	backdrop-filter: blur(4px);
	border: 1px solid #11111125 !important;
}
} */
