/* kategori proyek sitemap */
.active-sitemap .elementor-sitemap-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.active-sitemap li a {
	border: 1px solid var(--ast-global-color-6);
	padding: 10px 15px;
}


.active-sitemap li a:hover {
	border: 1px solid var(--ast-global-color-0);
	background: var(--ast-global-color-0);
}

.active-sitemap li.current-cat a {
		border: 1px solid var(--ast-global-color-0);
	background: var(--ast-global-color-0);
}
